<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
       <property name="driverClassName"><value>oracle.jdbc.driver.OracleDriver</value></property>
       <property name="url"><value>jdbc:oracle:thin:@...:orcl</value></property>
       <property name="username"><value>...</value></property>
       <property name="password"><value>...</value></property>
    </bean>
    
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix"><value>/</value></property>
        <property name="suffix"><value>.jsp</value></property>
    </bean>
    
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    
    <bean id="UserDao" class="com.jing.dao.UserDao">
       <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    
    
    <bean id="LoginService" class="com.jing.service.LoginService">
        <property name="userDao" ref="UserDao"></property>
    </bean>
    
    <bean name="/UserController.html" class="com.jing.controller.UserController">
       <property name="userDao" ref="UserDao"/>
       <property name="methodNameResolver"><ref bean="paraMethodResolver"/></property>
    </bean>
    
    <bean name="/LoginController.html" class="com.jing.controller.LoginController">
       <property name="loginService" ref="LoginService"/>
       <property name="methodNameResolver"><ref bean="paraMethodResolver"/></property>
    </bean>
    
    <bean id="paraMethodResolver" class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
    <property name="paramName" value="method"/>
    </bean>
 
    
</beans>